{
    "presets": ["next/babel"],
    "plugins": [[
        "prismjs",
        {
          "languages": ["bash", "css","html","javascript", "json","less","markdown","markup","scss","stylus","typescript", "tsx", "jsx"],
          "theme": "okaidia",
          "css": true
        }
      ]]
  }