{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["bash", "css","html","javascript", "json","less","markdown","markup","scss","stylus","typescript", "tsx", "jsx"],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
