body {
    font-family: sans-serif;
    font-family:"Helvetica Neue", Arial, sans-serif;
}

.start-here {
    width: 400px;
    display: block;
    margin: 0 auto;
    background: url('./images/arrowdown2.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 70px;
}
.header {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.footer {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: small;
}

h2 {
    margin-top: 0px;
}

.container {
    display: flex;
    clear:both;

}
@media screen and (max-width: 40em) {
    .container {
        flex-direction: column;

    }
}

.left-section,
.right-section {
    padding: 10px;
    width: 50%;
}
@media screen and (max-width: 40em) {
    .right-section,
    .left-section{
        display: block;
        width: 100%;
    }
}
a {
    color: #ffb000;
}

textarea {
    width: 90%;
}

.features {
    max-width: 800px;
    margin: 0 auto;
}

.feature-container {
    display: block;
    text-align: left;
    width: 200px;
    float: left;
    position: relative;
    margin-bottom: 12px;
    padding-left: 40px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}

/* Hide the browser's default checkbox */
.feature-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.feature-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.feature-container input:checked ~ .checkmark {
    background-color: #33ff00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.feature-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.feature-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

h3 {

    clear:both;
}


ol {
    counter-reset:li;
}
ol li {
    position: relative;
    list-style:none;
    margin-bottom: 20px;

}
ol li:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    top:-11px;
    left:-2em;
    width:2em;
    margin-right:8px;
    padding:4px;
    font-size: 27px;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
