html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  margin-bottom: 100px;
  font-size: large;
}
h1 {
  font-weight: 300;
}

textarea {
  padding: 11px;
  font-size: medium;
  border-radius: 5px;
  margin: 10px;
  width: 90%;
}

a {
  color: #0078a0;
}

h2 {
  margin-top: 0px;
}

textarea {
  width: 90%;
}

h3 {
  clear: both;
}

ol {
  counter-reset: li;
}
ol li {
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -11px;
  left: -2em;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  font-size: 27px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

.main-subheader {
  font-size: 1em;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
}

h3 {
  clear: both;
}

ol {
  counter-reset: li;
}
ol li {
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -11px;
  left: -2em;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  font-size: 27px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);

  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
.modal {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginright: -50%;
  transform: translate(-50%, -50%);

  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

@media only screen and (max-width: 666px) {
  .modal {
    width: 100%;
  }
}
