.logo {
  color: black;
}

.headerLink {
  text-decoration: none;
  color: black;
  float: left;
  margin-top: 14px;

  margin-left: 15px;
}

.miniBook {
  padding: 10px;
  margin-bottom: 20px;

  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}
.authorImage {
  float: left;
  margin-right: 20px;
}

.twoColumns {
  display: flex;
}

.twoColumns img {
  width: 40%;
  height: 40%;
  padding-top: 20px;
  padding-left: 20px;
}

.discountBox {
  padding: 5px;
  text-align: center;
  display: block;
  color: black;
  background: yellow;
  margin-bottom: 20px;
}

.discountBox span {
  font-weight: bold;
}

@media only screen and (max-width: 40em) {
  .twoColumns {
    display: block;
  }

  .twoColumns img {
    width: 100%;
    height: 100%;
  }
}

.productTable td {
  outline: 1px solid #ddd;
  padding: 10px;
}

.miniBook b {
  text-align: center;
}
.codeBox {
  font-size: 14px;
  height: 600px;
  width: 80%;
  overflow: auto;
  background-color: #1d1f21;
  border-radius: 0px 10px 10px 0px;
  cursor: text;
}
.codeBox .codeBoxPre {
  background: #1d1f21;
  overflow: visible;
  margin: 0px;
  padding: 1em;
}

.fileBrowser {
  font-size: 15px;
  color: #969696;
  background-color: #2e3134;
  margin-top: 14px;
  margin-bottom: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0px 18px 30px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 30px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 30px 3px rgba(0, 0, 0, 0.75);
}

.files {
  width: 25%;
}

.files ul {
  list-style-type: none;
  margin: 0;
  padding: 17px 0px;
}

.files li {
  padding: 3px 17px;
}

.files li.selected {
  background: #1d1f21;
  color: #e8e8e8;
}

.files .highlighted {
  box-shadow: 0 0 10pt 2pt #145b98;
  border-radius: 10px;
}

@media only screen and (max-width: 40em) {
  .files {
    width: 100%;
  }
  .files ul {
    padding: 5px;
  }
  .code-box {
    margin-top: 0px;
    width: 100%;
  }
  .file-browser {
    display: block;
  }
}

@media only screen and (min-height: 1000px) {
  .codeBox {
    height: 850px;
  }
}
@media only screen and (max-height: 700px) {
  .code-box {
    height: 535px;
  }
}

.header {
  max-width: 1067px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0px;
}

.logo {
  float: left;
}

.logoContainer {
  width: 270px;
  margin: 0 auto;
}

.btn {
  width: 164px;
  font-size: 14px;
  background-image: linear-gradient(-180deg, #fafbfc, #f3f3f3 90%);
  color: #24292e;
  background-color: #f3f3f3;
  display: block;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #e3e3e3;
  text-decoration: none;
  border-radius: 5px;
  height: 42px;
  cursor: pointer;
}
.btn img {
  float: left;
}
.btn span {
  margin-top: 3px;
  margin-left: 7px;
  display: block;
  float: left;
}
.btn:hover {
  background-image: linear-gradient(-180deg, #fafbfc, #e3e3e3 90%);
  border-color: #969696;
}
.zip-icon-area {
  width: 40%;
  float: left;
}
.zip-icon {
  background: #0c0c0c;
  color: white;
  width: 120px;
  text-align: center;
  padding-bottom: 10px;
}
.webpackConfigContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 20px;
}

.backLink {
  padding-bottom: 60px;
}

.signupButtonArea {
  margin-bottom: 15px;
}
.signupFormArea {
  width: 95%;
  text-align: center;
}
.signupField {
  padding: 11px;
  font-size: medium;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
}

.bookFeatures li {
  margin: 0 0 5px 0;
}

.footer {
  max-width: 800px;
  margin: 0 auto;
}

.large {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
}

.largeHeader {
  font-size: 2em;
}

.center {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.featuresContainer {
  width: 226px;
  margin-top: 20px;
}
.codeContainer {
  width: 861px;
}

.docsContainer {
  max-width: 1181px;
  margin: 0 auto;
  padding: 10px;

  box-shadow: 0 0 10pt 2pt #145b98;
  border-radius: 10px;
}

.feedbackForm button {
  padding: 11px;
  font-size: medium;
  border-radius: 5px;
  margin: 10px;
}

.feedbackForm input {
  padding: 11px;
  font-size: medium;
  border-radius: 5px;
  margin: 10px;
  width: 90%;
}
@media only screen and (max-width: 666px) {
  .mainContainer {
    flex-direction: column;
  }
  .codeContainer {
    max-width: 861px;
    width: auto;
  }

  .featuresContainer {
    margin: auto;
  }
}

.sectionsContainer {
  display: flex;
}
.sectionsLeft {
  width: 50%;
}
@media only screen and (max-width: 666px) {
  .sectionsContainer {
    display: block;
  }
  .sectionsLeft {
    width: 100%;
  }
}

.tabsContainer {
  width: 100%;
  height: 51px;
  margin-bottom: 30px;
}

.tabs {
  max-width: 410px;
  margin: 0 auto;
}

.tabs button {
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border-color: #e3e3e3;
  border-style: solid;

  color: #0c0c0c;
  background-color: #fff;
  display: block;
  float: left;
  height: 42px;
}
.tabImage {
  float: left;
}
.tabsDescription {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

.tabs button:hover {
  color: #0c0c0c;
}
.tabs button.selectedTab {
  border-color: black;
  background: #e3e3e3;
}
.tab {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 666px) {
  .tabsContainer {
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }
  .tabs {
    margin: auto;
  }
  .tabs button {
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 40em) {
  .webpackTab img {
    margin-left: -8px;
  }
  .parcelTab img {
    margin-left: -5px;
  }
}
.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.desktopOnly {
  display: block;
  margin-top: 20px;
}
.smallScreensOnly {
  display: none;
}

/* styling for project name input */
label.projectName {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 55px;
}
input.projectNameInput {
  display: block;
  padding: 5px;
  font-size: 0.85em;
  border-radius: 5px;
}
.desktopOnly .projectNameHelp,
.smallScreensOnly .projectNameHelp {
  display: flex;
}
.desktopOnly .helpCircle,
.smallScreensOnly .helpCircle {
  float: none;
}

@media only screen and (max-width: 666px) {
  .desktopOnly {
    display: none;
  }
  .smallScreensOnly {
    display: block;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: white;
}

.leftSection,
.rightSection {
  padding: 0px 10px 10px 10px;
  width: 100%;
}
@media screen and (max-width: 40em) {
  .rightSection,
  .leftSection {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #0078a0;
  cursor: pointer;
  color: #0078a0;
}

.features {
  background: white;
  max-width: 520px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.featureGroup {
  display: flex;
  flex-direction: column;
}

.featureGroupName {
  font-size: 18px;
  text-align: left;
  min-width: 105px;
  margin-bottom: 5px;
  cursor: pointer;
}

.featureContainer {
  font-size: medium;
  display: block;
  width: 160px;
  float: left;
  text-align: left;
  position: relative;
  margin-bottom: 12px;
  padding-left: 45px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.helpCircle {
  color: #969696;
  float: left;
  border: 1px solid #969696;
  border-radius: 41px;
  width: 19px;
  display: inline-block;
  text-align: center;
  background: white;
  cursor: pointer;
  padding: 0px;
}
.helpCircle:hover {
  color: black;
  border-color: black;
}
/* Hide the browser's default checkbox */
.featureContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 20px;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: #e8e8e8;
}

/* On mouse-over, add a grey background color */
.featureContainer:hover input ~ .checkmark,
.featureContainer:hover input ~ .radio {
  background-color: #969696;
}

/* When the checkbox is checked, add a blue background */
.featureContainer input:checked ~ .checkmark,
.featureContainer input:checked ~ .radio {
  background-color: #0c0c0c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.featureContainer input:checked ~ .checkmark:after,
.featureContainer input:checked ~ .radio::after {
  display: block;
}

/* Style the checkmark/indicator */
.featureContainer .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #e8e8e8;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create a custom radio button */
.radio {
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #e8e8e8;
}

/* Style the checkmark/indicator */
.featureContainer .radio::after {
  content: '';
  position: absolute;
  display: none;
  left: 4px;
  top: 4px;
  width: 7px;
  height: 7px;
  background-color: #e8e8e8;
  border-radius: 50%;
}

.red {
  color: red;
  font-weight: bold;
}
.green {
  color: green;
  font-weight: bold;
}
.orange {
  color: orange;
  font-weight: bold;
}
.error {
  padding: 1rem;
  text-align: center;
  border: 1px solid red;
}
.dropFileText {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.myButton {
  background-color: #44c767;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.blueButton {
  background-color: #0078a0;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #024257;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #344e57;
}
.blueButton:hover {
  background-color: #04a5db;
}
.blueButton:active {
  position: relative;
  top: 1px;
}
