.icon {
    margin-right: 7px;
    width: 20px;
}

.logo {
    color: black;
}

.miniBook{
    padding: 10px;
    margin-bottom: 20px;

   box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}
.authorImage {
    float: left;
    width: 150px;
    margin-right: 20px;
}

.twoColumns {
    display: flex;
}

.twoColumns img {
    width: 40%;
    height: 40%;
    padding-top: 20px;
    padding-left: 20px;

}

.discountBox {
    padding: 5px;
    text-align: center;
    display: block;
    color: black;
    background: yellow;
    margin-bottom: 20px;
}

.discountBox span {
    font-weight: bold;
}

@media only screen and (max-width: 40em) {
.twoColumns {
    display: block;
}

.twoColumns img {
    width: 100%;
    height: 100%;
}

}

.productTable td {
    outline: 1px solid #ddd;
    padding: 10px;
}

.miniBook b {
    text-align: center;
}
.code-box {
    font-size: 14px;
    height: 600px;
    width: 80%;
    overflow:auto;
    background-color: #0c0c0c;
    border-radius: 0px 10px 10px 0px;
    cursor: text;
}
.code-box .code-box-pre {
    background: #0c0c0c;
    overflow: visible;
    margin: 0px;
    padding: 1em;
}

.file-browser {
    font-size:15px;
    color: #969696;
    background-color: #212121;
    margin-top: 14px;
    margin-bottom: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: 0px 18px 30px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 30px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 18px 30px 3px rgba(0,0,0,0.75);
}

.files {
    width: 25%;
}

.files ul {
    list-style-type: none;
    margin: 0;
    padding: 17px 0px;
}

.files li {
    padding: 3px 17px;
}

.files li.selected {
    background: #0c0c0c;
    color: #e8e8e8;
}

.files .highlighted {
    box-shadow: 0 0 10pt 2pt #145B98;
    border-radius: 10px;

}

@media only screen and (max-width: 40em) {
    .files  {
        width: 100%;
    }
    .files ul {
        padding: 5px;
    }
    .code-box {
        margin-top: 0px;
        width: 100%;
    }
    .file-browser {
        display: block;
    }
}

@media only screen and (min-height: 1000px) {
    .code-box {
        height: 850px;
    }
}
@media only screen and (max-height: 700px) {
    .code-box {
        height: 535px;
    }
}

.header {
    max-width: 1067px;
    margin: 0 auto;
    text-align:center;
    padding: 40px 0px;
}


.btn {
    width: 115px;
    font-size: 14px;
    background-image: linear-gradient(-180deg,#fafbfc,#F3F3F3 90%);
    color: #24292e;
    background-color: #F3F3F3;
    display: block;
    padding: 10px;
    border: 1px solid #E3E3E3;
    text-decoration: none;
    border-radius: 5px;
    height: 42px;
    cursor:pointer;
}
.btn img {
    float:left;
}
.btn span {
    margin-top: 3px;
    display: block;
    float: left;
}
.btn:hover {
    background-image: linear-gradient(-180deg,#fafbfc,#E3E3E3 90%);
    border-color:#969696;
}
.zip-icon-area {
    width: 40%;
    float:left;
}
.zip-icon {
    background: #0c0c0c;
    color: white;
    width: 120px;
    text-align: center;
    padding-bottom: 10px;

}
.webpack-config-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 20px;
}

.backLink {
    padding-bottom: 60px;
}

.signup-button-area {
    margin-bottom: 15px;
}
.signup-form-area {
    width: 95%;
    text-align: center;
}
.signup-field {
    padding: 11px;
    font-size: medium;
    border-radius: 5px;
    margin: 10px;
    width: 100%;

}

.bookFeatures li{
    margin: 0 0 5px 0;
}

.footer {
    max-width: 800px;
    margin: 0 auto;
}


.large {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
}

.largeHeader {
    font-size: 2em;
}

.center {
    text-align: center;
}

.subtitle {
    text-align: center;
}

h2 {
    margin-top: 0px;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.featuresContainer {
    width: 226px;
    margin-top: 20px;
}
.codeContainer {
    width: 861px;
}

.docsContainer {
    max-width: 1181px;
    margin: 0 auto;
    padding: 10px;

    box-shadow: 0 0 10pt 2pt #145B98;
    border-radius: 10px;

}

.feedbackForm button {
    padding: 11px;
    font-size: medium;
    border-radius: 5px;
    margin: 10px;

}
.feedbackForm input, textarea {
    padding: 11px;
    font-size: medium;
    border-radius: 5px;
    margin: 10px;
    width: 90%;

}
@media only screen and (max-width: 666px) {

    .mainContainer {
        flex-direction:column;
    }
    .codeContainer {
        max-width: 861px;
        width: auto;
    }

    .featuresContainer {
        margin: auto;
    }

}


.sectionsContainer {
    display: flex;
}
.sectionsLeft {
    width: 50%;
}
@media only screen and (max-width: 666px) {
    .sectionsContainer {
        display: block;
    }
    .sectionsLeft {
        width: 100%;
    }
}

.tabsContainer {
    width: 100%;
    height: 51px;
    margin-bottom: 30px;

}

.tabs {
    max-width: 250px;
    margin: 0 auto;
}
.tabs button {
    cursor: pointer;
    font-size: 16px;
    outline:none;
    border-color: #E3E3E3;
    border-style: solid;

    color: #0c0c0c;
    background-color: #fff;
    display: block;
    float: left;
    height: 42px;
}
.tabs img {
    float:left;
    width: 40px;
    margin-left: 0px;
    margin-right: 5px;
}
.tabs div {
    float:left;
    margin-top: 11px;
}

.tabs button:hover {
    color: #0c0c0c;
}
.tabs button.selectedTab {
border-color: black;
    background: #E3E3E3;

}
.parcelTab {
    width: 115px;
}
.parcelTab img {
    height: 35px;
    width: 35px;
}
.parcelTab div {
    margin-top:9px;
}
.webpackTab {
    width: 135px;
}
.webpackTab img {
    margin-left: -2px;
}
.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.desktopOnly {
    display: block;
}
.smallScreensOnly {
    display: none;
}


@media only screen and (max-width: 666px) {
    .desktopOnly {
        display: none;
    }
    .smallScreensOnly {
        display: block;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
}

.left-section,
.right-section {
    padding: 0px 10px 10px 10px;
    width: 100%;
}
@media screen and (max-width: 40em) {
    .right-section,
    .left-section{
        display: block;
        width: 100%;
        padding: 0;
    }
}
a {
    color: #0078a0;
}
.link {
     background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #0078a0;
     cursor: pointer;
     color: #0078a0;
}

textarea {
    width: 90%;
}

.features {
    background: white;
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.feature-group {
    display: flex;
    flex-direction: column;
}

.feature-group-name {
    font-size: 18px;
    text-align: left;
    min-width: 105px;
    margin-bottom: 5px;
    cursor: pointer;
}

.feature-container {
    font-size: medium;
    display: block;
    width: 160px;
    float: left;
    text-align: left;
    position: relative;
    margin-bottom: 12px;
    padding-left: 45px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}

.helpCircle {
    color: #969696;
    float: left;
    border: 1px solid #969696;
    border-radius: 41px;
    width: 19px;
    display: inline-block;
    text-align: center;
    background: white;
    cursor: pointer;
    padding: 0px;
}
.helpCircle:hover {
    color: black;
    border-color: black;

}
/* Hide the browser's default checkbox */
.feature-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 20px;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: #e8e8e8;
}

/* On mouse-over, add a grey background color */
.feature-container:hover input ~ .checkmark,
.feature-container:hover input ~ .radio {
    background-color: #969696;
}

/* When the checkbox is checked, add a blue background */
.feature-container input:checked ~ .checkmark,
.feature-container input:checked ~ .radio {
    background-color: #0c0c0c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.feature-container input:checked ~ .checkmark:after,
.feature-container input:checked ~ .radio::after {
    display: block;
}

/* Style the checkmark/indicator */
.feature-container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid #e8e8e8;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.radio {
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #e8e8e8;
}

/* Style the checkmark/indicator */
.feature-container .radio::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 4px;
    width: 7px;
    height: 7px;
    background-color: #e8e8e8;
    border-radius: 50%;
}

.red {
    color: red;
    font-weight: bold;
}
.green {
    color: green;
    font-weight: bold;
}
.orange {
    color: orange;
    font-weight: bold;
}
.error {
    padding: 1rem;
    text-align: center;
    border: 1px solid red;
}
.dropFileText {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
h3 {

    clear:both;
}


ol {
    counter-reset:li;
}
ol li {
    position: relative;
    list-style:none;
    margin-bottom: 20px;

}
ol li:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    top:-11px;
    left:-2em;
    width:2em;
    margin-right:8px;
    padding:4px;
    font-size: 27px;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}

.myButton {
        background-color:#44c767;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
        background-color: #5cbf2a;
}
.myButton:active {
        position:relative;
        top:1px;
}


.blueButton {
        background-color:#0078a0;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:1px solid #024257;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #344e57;
}
.blueButton:hover {
        background-color:#04a5db;
}
.blueButton:active {
        position:relative;
        top:1px;
}
