body {
    font-family: sans-serif;
    font-family:"Helvetica Neue", Arial, sans-serif;
}

#app {
    margin-bottom: 100px;
}
.icon {
    margin-right: 7px;
    width: 20px;
}
.start-here {
    width: 327px;
    display: block;
    margin: 0 auto;
    background: url('../images/arrowdown2.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 50px;
    padding-left: 19px;
}

.code-box {
    font-size: 15px;
    max-height: 800px;
    width: 80%;
    overflow:scroll;
    background-color: #242424;
    padding: 10px;
}

.file-browser {
    color: #ccc;
    background-color: #2d2d2d;
    margin-top: 14px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
}

.files {
    width: 25%;
}

.files ul {
    list-style-type: none;
    margin: 0;
    padding: 17px 0px;
}

.files li {
    padding: 2px 25px;
}

.files li.selected {
    background: #145B98;
    color: white;
}

@media only screen and (max-width: 40em) {
    .files li {
        padding: 2px;
    }
  .start-here {
    width: 300px;
    padding: 0 50px;
    box-sizing: border-box;
  }
  .code-box {
    margin-left: 0px;
    margin-right: 0px;

  }
}

.header {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.download-zip {
    text-align: center;
}

.zip-icon-area {
    width: 40%;
    float:left;
}
.zip-icon {
    background: #232729;
    color: white;
    width: 120px;
    text-align: center;
    padding-bottom: 10px;

}
.modal-container {
    width: 600px;
}

.signup-button-area {
    margin-bottom: 15px;
}
.signup-form-area {
    width: 95%;
    text-align: center;
    float:left;
}
.signup-field {
    padding: 11px;
    font-size: medium;
    border-radius: 5px;
    margin: 10px;
    width: 100%;

}

.footer {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: small;
}

h2 {
    margin-top: 0px;
}

.container {
    clear:both;
    max-width: 800px;
    margin: 0 auto;
}

.left-section,
.right-section {
    padding: 0px 10px 10px 10px;
    width: 100%;
}
@media screen and (max-width: 40em) {
    .right-section,
    .left-section{
        display: block;
        width: 100%;
        padding: 0;
    }
}
a {
    color: #0078a0;
}

textarea {
    width: 90%;
}

.features {
    padding: 10px;
    max-width: 520px;
    margin: 0 auto;
}

.feature-group {
    display: flex;
}

.feature-group-name {
    font-size: 18px;
    text-align: left;
    min-width: 100px;
}

.feature-container {
    display: block;
    text-align: left;
    width: 100px;
    float: left;
    position: relative;
    margin-bottom: 12px;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}

/* Hide the browser's default checkbox */
.feature-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.feature-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.feature-container input:checked ~ .checkmark {
    background-color: #33ff00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.feature-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.feature-container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

h3 {

    clear:both;
}


ol {
    counter-reset:li;
}
ol li {
    position: relative;
    list-style:none;
    margin-bottom: 20px;

}
ol li:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    top:-11px;
    left:-2em;
    width:2em;
    margin-right:8px;
    padding:4px;
    font-size: 27px;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}

.myButton {
        -moz-box-shadow: 3px 4px 0px 0px #1564ad;
        -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
        box-shadow: 3px 4px 0px 0px #1564ad;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
        background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
        background-color:#79bbff;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        border:1px solid #337bc4;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        font-weight:bold;
        padding:12px 44px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
        background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
        background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
        background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
        background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
        background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
        background-color:#378de5;
}
.myButton:active {
        position:relative;
        top:1px;
}
