pre[data-line] {
  position: relative;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 1em;

  box-shadow: 0 0 10pt 2pt #145b98;
  border-radius: 10px;

  pointer-events: none;

  line-height: inherit;
  white-space: pre;
}
